<% layout('layouts/boilerplate')%>
    <div class="mb-3" id="cluster-map"></div>

    <% for (let foodloc of foodlocs) {%>
        <div class="card bg-light mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if (foodloc.images.length) { %>
                        <img class="img-fluid" alt="" src="<%= foodloc.images[0].url %>">
                    <% } else { %>
                        <img class="img-fluid" alt="source_img" src="https://liftlearning.com/wp-content/uploads/2020/09/default-image.png">
                    <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title header"><%= foodloc.title %></h5>
                        <p class="card-text"><%= foodloc.description %></p>
                        <p class="card-text">
                            <small><%= foodloc.location %></small>
                        </p>
                        <a href="/locations/<%= foodloc.id %>" class="btn btn-outline-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>


<script>
    const maptoken = '<%-process.env.MAP_TOKEN%>';
    const locations = {features: <%- JSON.stringify(foodlocs) %>};
</script>

<script src="/javascripts/clusterMap.js"></script>