<% layout('layouts/boilerplate')%>
    <h1><%= location.title %></h1>
    <h2><%= location.location %></h2>
    <img src="<%= location.image %>" alt="">
    <p class="card-text"><%= location.description %></p>
    <p>
        <a href="/locations/<%= location.id%>/edit">Edit</a>
    </p>
    <p>
        <form action="/locations/<%= location.id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>
    <footer>
        <a href="/locations">All locations</a>
    </footer>
