<% layout('layouts/boilerplate')%>
    <h1><%= location.title %></h1>
    <h2><%= location.location %></h2>
    <img src="https://images.unsplash.com/flagged/photo-1562503542-2a1e6f03b16b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8&w=1000&q=80" alt="">
    <p class="card-text"><%= location.description %></p>
    <p>
        <a href="/locations/<%= location.id%>/edit">Edit</a>
    </p>
    <p>
        <form action="/locations/<%= location.id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>
    <footer>
        <a href="/locations">All locations</a>
    </footer>
